.topnav{
    background-color: gray;
  overflow: hidden;
  }
  .topnav a:hover{
     background-color: white;
     color: black;
     }
  .topnav a.active{
    background-color: Black;
    color:white;
    }
    .topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
header{
  background-color:#9e4244;
  padding:40px;
  color:#0492c2;
}
body{
  background-color: #9867c5;
  color: white;
  display: flex;
  flex-direction: column;
}
div.place1{
  background-color: #e39ff6;
  color:white;
}
